{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block head_title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><lsink rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->

	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">Sentalight</a></h1>
                        {% block navbar %}
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/">Home</a></li>
											<li><a href="#details">Project Details</a></li>
											<li><a href="#us">About Us</a></li>
											<li><a href="#two" class="scrolly">Sign Up</a></li>
											<li><a href="#one" class="scrolly">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
                        {% endblock %}
					</header>

                {% block content %}{% endblock %}


				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Nebras Jemel</li><li>Stefan Spataru</li><li>Miruna Cristus</li>
						</ul>
                        <ul class="copyright">
							<li>CS50 Fall 2015</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
