<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Welcome to the home of cs50project.com</title>

	<link rel="stylesheet" type="text/css" href="http://www.rx-name.net/stylesheets/global.css" media="all" />

	<!--[if lte IE 7]>
	<link rel="stylesheet" type="text/css" href="http://www.rx-name.net/stylesheets/ie7.css"    media="all" />
	<script type="text/javascript" src="http://www.rx-name.net/javascripts/iepngfix.js"></script>
	<![endif]-->

	<script type="text/javascript" src="http://www.rx-name.net/javascripts/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="http://www.rx-name.net/javascripts/facebox.js"></script>
	<script type="text/javascript" src="http://www.rx-name.net/javascripts/global.js"></script>

	<link rel="Shortcut Icon" type="image/x-icon" href="images/favicon.ico" />
</head>

<body>
<div id="wrap">
<div id="page" class="error-404">

	<div id="header">
		<a href="http://www.rx-name.net"><img src="http://www.rx-name.net/images/logo.png" alt="Domain Name Register -- RX-NAME" title="RX-Name" class="logo" /></a>
		<p class="support"><a href="http://www.rx-name.net/en/info/contacts/">Contact Center: <strong>+380&nbsp;(44)&nbsp;593-74-78</strong></a></p>
	</div>

	<div id="main">

		<div id="content">

		  <h1>Welcome to the home of cs50project.com</h1>
			<ul>
            	<li>To change this page, upload your website into the public_html directory</li>
                <li><span id="result_box"><span title="">Чтобы изменить данную страницу, загрузите файлы в директорию public_html</span></span></li>
			</ul>
		<p>Страница была создана (Date Created): Mon Nov 30 14:00:15 2015</p>
        </div>

	</div>

</div>
</div>
</body>
</html>