{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
    <div class="hidden"><div id="fb_id">{{ fb_id }}</div><div id="fb_token">{{ fb_token }}</div></div>
    <script language="JavaScript" type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/engine.js' %}"></script>
    <section id="engine" class="wrapper style1 special">
        <header class="major align-center">
            <h2>Your App Status</h2>
        </header>
        <div class="inner">
            <span>
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </span>
            <ul class="actions vertical alt align-left">
                <li>Last Status: <em id="status"></em></li>
                <li>Emotion: <em id="emotion"></em></li>
                <li>Color: <em id="color"></em></li>
            </ul>
        </div>
        <div class="6u 12u$(xsmall)">
            <input type="text" name="first_name" id="gotcha" value="" placeholder="Status"
                   required/>
        </div>
        <input type="submit" id="test" value="Run" class="special"/>
        <input type="submit" id="test2" value="Classify"/>
    </section>

    <section class="wrapper style0 special">
        <header class="major align-center">
            <h2>Your App Settings</h2>
        </header>
        <div class="inner">
            <ul class="features ">
                <li class="icon fa-facebook-official ripplelink">
                    <a href="social">
                        <h3>Social Media Settings</h3>

                        <p>Add/Change Facebook Account.</p></a>
                </li>
                <li class="icon fa-lightbulb-o ripplelink">
                    <a href="hue">
                        <h3>Hue Settings</h3>

                        <p>Add and Delete Lamps.</p></a>
                </li>
                <li class="icon fa-cogs ripplelink">
                    <a href="account">
                        <h3>Account Settings</h3>

                        <p>See your e-mail , Password, and other settings.</p></a>
                </li>
                <li class="icon fa-sliders ripplelink">
                    <a href="preferences">
                        <h3>Color Settings</h3>

                        <p>Assign a Color relative to classified feelings.</p></a>
                </li>

            </ul>
        </div>
    </section>
{% endblock %}