{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

    <!-- Sign Up -->
    <div id="fb-root"></div>
    <script src="{% static 'assets/js/facebook.js' %}"></script>
        <section class="wrapper style5">
            <div class="inner">
                <h2 class="align-center" ><fb:login-button scope="public_profile,email" onlogin="checkLoginState();" data-size="xlarge">
                </fb:login-button></h2>
                <div id="status">
                </div>
            </div>
        </section>
    </article>
{% endblock %}
